discord-ext-menus==1.1; python_full_version >= "3.8.0"
discord.py @ git+https://github.com/Rapptz/discord.py.git@master ; python_full_version >= "3.8.0"
requests
PyNaCl
wavelink
lavalink
humanfriendly
